<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2>Count all articles: <%= @articles_count %></h2>
<h2>Comment last id: <%= @comments_last.id %></h2>
<h2>Comment last author: <%= @comments_last.author %></h2>
<h2>Comment last body: <%= @comments_last.body %></h2>